﻿@model SomeTechnologies.Services.Models.ChatModels.ChatMessageVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>@Model.PostDate.ToString("dd.MM.yy HH.mm")</div>
    <div>@Model.Body</div>
    <div>@Model.UserId</div>

    <hr />
    <form id="uploadFileForm" method="post">
        <input id="currentFile_1" type="file" name="currentFile" />
        <input type="submit" onclick="sendFile()">
    </form>

    <hr />
</div>
